{% extends "_base.htm" %}
{% block bodycontent %}

<div class="pg">
	<h2><center>Instructions</center></h2>

		<p>
		You will view the reports for 8 different volunteers who are each assigned a different alternative routine. After viewing the reports for the first volunteer, you will get to review these instructions before viewing the reports of the remaining volunteers.
		</p>

		<p><i>
		If your responses indicate that you have neglected to read the instructions given, you may not be paid for the HIT.
		</i></p>

	<center>
		<form method="get" action="/scenario">
		<input type="submit" value="Start"/> 
		</form>
	</center>
</div>

{% endblock %}
